@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: flex;
  font-size: 18px;
  background-color: white;
  flex-direction: row;
}

/* Side Bar */
.sideBar {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}
.user {
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
  gap: 20px;

  align-items: center;
}
.image i {
  background-color: #3fd4f4;
  border: 1px solid black;
  border-radius: 50%;
  padding: 5px 10px 10px 10px;
}
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.intro h6 {
  font-size: 30px;
  font-weight: bold;
}
.intro p {
  font-size: px;
}
.line {
  width: 200px; /* set a fixed width */
  box-sizing: border-box;
  display: block;
  padding: 0;
  border-bottom: 2px solid black;
  margin: 0 auto; /* center the div horizontally */
  text-align: center;
  padding-top: 30px;
}
/* Side Bar TODO List*/
.mainTasks {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-left: 20px;
}
.mainTasks h3 {
  font-size: 20px;
  padding-bottom: 10px;
}
.mainTasks ul {
  list-style-type: none;
}
.mainTasks ul li .color {
  background-color: rgb(166, 3, 3);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}
.mainTasks ul li {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  padding-left: 30px;
}
/* Todo Right Operations  */
.todo {
  background-color: #3fd4f4;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  margin: 10px 10px;
  border-radius: 10px;
}

.heading {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}
.heading h2 {
  font-size: 30px;
  font-weight: bold;
}
.heading .tagLine {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 10px;
}
.addTask {
  width: 90%;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.allTasks {
  width: 95%;
}

/* Styling Input for Tasks */
.addTask {
  display: flex;
  width: 95%;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  padding: 40px 20px;
}
.inputTasks {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: space-between;
  gap: 10px;
}
input:focus {
  outline: none;
}
.inputTasks input {
  width: 100%;
  height: 40px;
  padding-left: 10px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
}

.priority select {
  width: 100%;
  height: 40px;
  padding-left: 10px;
  border: none;
  flex-basis: 15%;
  flex-grow: 1;
  font-size: 16px;
  border-radius: 10px;
}
.inputTasks input[type='text'] {
  flex-basis: 60%;
}
.inputTasks input[type='date'] {
  flex-basis: 25%;
  padding: 0px 10px;
  border-radius: 10px;
}

.inputTasks select:focus {
  outline: none;
}
.inputTasks select {
  padding: 0px 5px;
}
.btnAdd,
.clearAll {
  height: 40px; /* set a fixed height */
  border-radius: 10px;
  border: none;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 16px;
  font-weight: bold;

  width: 20%;
  margin: auto;
  margin-top: 20px;
}

.prColorlow {
  background-color: black;
  border: 2px solid black;
}
.prColormedium {
}
.prColorhigh {
}

/* Styling All Tasks */
.allTasks {
  padding: 40px 0px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.eachTask {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 85%;
  margin: auto;
  padding: 10px 50px;
  border-radius: 10px;
}

/* Bullet Points */
.priorityColor {
  width: 10px;
  height: 10px;
  background-color: rgb(239, 255, 11);
  border-radius: 50%;
}
.eachTask .text {
  font-size: 18px;
}
.eachTask .date {
  font-size: 18px;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-around;
  gap: 10px;
}
.icons button {
  background-color: transparent;
  border: none;
  font-size: 20px;
}
.checkBtn {
  display: none;
}
.unCheckBtn {
}
.deleteBtn {
  color: rgb(246, 50, 50);
}

/* Adding Hover Effect */
.btnAdd:hover,
.clearAll:hover,
.checkBtn:hover,
.unCheckBtn:hover,
.deleteBtn:hover {
  transform: scale(0.95);
}

.left,
.right {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.tasksCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.noTaskT {
  font-size: 18px;
  text-align: center;
  padding-bottom: 20px;
}

.tagline {
  font-size: 30px;
  margin-top: 40px;
  text-align: center;
  padding-bottom: 20px;
  font-weight: bold;
}
.noTask {
  font-size: 22px;
  text-align: center;
  padding-bottom: 20px;
  width: 100%;
  color: rgb(236, 77, 77);
}

/* Animations */

/* Left Animation */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
/* Applying it on Main tasks */
.mainTasks {
  animation: slide-in-left 1s ease;
}

/* Right Animation */

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(400px);
  }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(0px);
  }
}

/* Notification */
.notification-container {
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px 10px;
  display: none;
  z-index: 9999;
}

.notification {
  background-color: #fff;
  animation: slide-right 1s ease;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: #333;
  font-size: 16px;
  padding: 10px 15px;
}

/* Mobile View */
@media screen and (max-width: 576px) {
  .main {
    flex-direction: column;
    font-size: 16px;
  }
  .user {
    justify-content: center;
    align-items: center;
  }
  .mainTasks {
    display: none;
  }
  .sideBar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    margin-bottom: 20px;
  }
  .inputTasks {
    flex-direction: column;
    gap: 10px;
  }
  .inputTasks input[type='text'],
  .inputTasks input[type='date'] {
    padding: 10px 10px;
    font-size: 16px;
  }
  .btnAdd,
  .clearAll {
    height: auto;
    width: 100%;
    padding: 10px;
  }

  .eachTask {
    flex-direction: column;
    padding: 10px 20px;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
  }

  .eachTask .text,
  .eachTask .date {
    font-size: 16px;
  }
  .left {
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  .right {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .icons {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 20%;
  }
  .clearAll {
    width: 85%;
  }
}
